input {
   text-transform: uppercase;
}

::-webkit-input-placeholder {
   /* Chrome, Safari */
   text-transform: lowercase;
}


:-moz-placeholder {
   /* Firefox 18- */
   text-transform: lowercase;
}

::-moz-placeholder {
   /* Firefox 19+ */
   text-transform: lowercase;
}

:-ms-input-placeholder {
   /* IE */
   text-transform: lowercase;
}


.alert-danger {
   margin-top: 10px;
   text-align: center;
   display: none;
}

.alert-success {
   margin-top: 10px;
   text-align: center;
   display: none;
}

#div-fundo{
   margin: 0% auto;
   width: 700px;
   display: flex;
   /* background-color: aqua; sac */
}

#downloadMargem{
   margin: 0% auto;
}

#idLabel{
   background-color: #9399a3;
   border-radius: 22px;
   color: black;
   width: 300px;
}

#idLabel:hover{
   background-color: #cdd6e6;
}

 @media screen and (max-width: 999px){

   #div-fundo{
       display: block;
       margin: 0% auto;
   }

   #printMargem{
   margin-right: 100%;
   }

   #downloadMargem{
      margin-right: 100%;
      }

}

/*sac*/
#idLabel-email{
   background-color: #cdd6e6;
   color: black;
}

/*sac*/
@media screen and (max-width: 780px){
   #div-fundo{
      width: 450px;
      display: flex;
      flex-direction: column;
   }

   #div-email{
      display: flex;
   }
}